<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Static Template</title>
    <meta name="description" content="Chatter">
    <meta name="author" content="Moritz Rebbert">
    <link rel="stylesheet" href="css/basic.css">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="js/tracery.js"></script>
    <script>
        var grammar = tracery.createGrammar({
            'size' : ['big', 'small', 'tiny',],
            'animal': ['panda','fox','capybara','iguana'],
            'emotion': ['sad','happy','angry','jealous'],
            'action' : ['eats', 'throws', 'holds', 'looks at'],
            'thing' : ['trash bin', 'fox cage', 'red car'],
            'origin':['The #size# #animal#  is #emotion# and #action# the #size# #thing#.'],
        });

        grammar.addModifiers(tracery.baseEngModifiers);

        setInterval(function() {
            var chat = document.querySelector("#chat");
            var message = document.createElement("div");
            var content = grammar.flatten("#origin##origin#");
            var user = (Math.random() < 0.5)?"me":"other";
            message.innerHTML = `<div class="message ${user}">
            <div class="user"></div>
            <div class="content">${content}</div>
            <div class="time">2:59</div>
        </div>`;
            chat.appendChild(message);
            chat.scrollTop = chat.scrollHeight;

        },800);


    </script>


</head>

<body>
<div class="wrapper">
    <div class="head">

    </div>
    <div id="chat" class="chat chat-font">
        <div class="message me">
            <div class="user"></div>
            <div class="content">Hello</div>
            <div class="time">2:59</div>
        </div>

        <div class="message me">
            <div class="user"></div>
            <div class="content">Hi!!</div>
            <div class="time">3:00</div>
        </div>

        <div class="message other">
            <div class="user"></div>
            <div class="content">Lore ipsum foo<br>✊</div>
            <div class="time">3:07</div>
        </div>
    </div>

    <div class="foot">

    </div>
</div>
</body>
</html>