*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, .wrapper {
    height: 100%;
}

#graph-wrapper {
    width: 160vw;
    height: 120vh;
    background-color: #eeeeee;
    float: left;
    position: relative;
}

#graph {

}

svg .passage {
    fill: lightblue;
    stroke: lightblue;
    stroke-opacity: .3;
    stroke-width: 5;
}

svg .passage.start {
    fill: lightgreen;
    stroke: lightgreen;
    stroke-opacity: .3;
    stroke-width: 5;
}

svg .selected ,
svg .selected.start{
    stroke: red;
}

svg .selector-frame {
    stroke: grey;
    fill: rgba(0, 223, 242, 0.1)
}


.text-box {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(0,0,0,0);
    pointer-events: none;
    text-align: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.text-box span {
    flex: 1;
    font-weight: bold;
    font-size: 12px;

}

.chat-modal .modal-container .modal-body {
    max-height: 70vh;
}

.chat-editor {
    border: 1px solid black;
    border-radius: 10px;
}

.chat-editor textarea {
    padding-left: 10px;
}

.wrap,
.zoom-wrap {
    /*
    width: 320px;
    height: 640px;
    */
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

.chat-frame,
#chat-frame {
    /*
    width: 960px;
    height: 1920px;
    */
    width: 300%;
    height: 300%;

    transform: scale(0.3333);
    transform-origin: 0 0;
}

#title {
    position: fixed;
    bottom: 20px;
    right: 40px;
}

#menu {
    position: fixed;
    top: 20px;
    right: 40px;
    display: flex;
    flex-direction: column;

}

#menu button {
    flex: 1;
    margin-top: 10px;
}

#menu button svg {
    fill: white;
    width: 1.5rem;
}

#menu button.play svg {
    width: 1rem;
    margin-left: 4px;
    margin-top: 4px;
}

#menu button.download svg {
    margin-left: 0px;
    margin-top: 4px;
}

#menu button.add svg {
    margin-left: 0px;
    margin-top: 3px;
}

#menu button svg:hover {

}

#preview button,
#menu button {
    width: 3rem;
    height: 3rem;
}

#preview button svg {
    fill: white;
    width: 1.5rem;
}

#preview button.refresh svg {
    margin-left: 0px;
    margin-top: 3px;
}

#preview .iframe-wrapper {
    width: 360px;
    height: 640px;
    transform: scale(0.3333);
    transform-origin: 0 0;
}

.editor-columns {
    height: 60vh;
}

#editor-chat-column {

}

#editor-form-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;

}

.editor-form-column>div{

}


.editor-columns textarea.form-input,
.vue-codemirror.passage {
    flex: 1;

}

.vue-codemirror.passage .CodeMirror {
    height: 100%;
}


#editor .modal-container {
    width: 1000px;
    max-width: 1000px;
}

#editor .chat-modal .modal-container .modal-body {
    max-height: 90vh;
}



