*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background: black;
    height: 100%;
}

#error-message {
    display: none;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px;
    min-height: 50px;
    font-size: 80px;
}

#error-message.show {
    display: block;
}


